<div
  class="container-xs bg-light p-3 rounded position-relative top-50 start-50 translate-middle"
>
  <form (ngSubmit)="submitLogin()">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input
        [(ngModel)]="username"
        name="username"
        type="text"
        class="form-control"
        id="usernameInput"
      />
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        class="form-control"
        id="passwordInput"
      />
    </div>
    <div *ngIf="errorMessage" class="invalid-feedback d-block mb-3">
      {{ errorMessage }}
    </div>
    <button type="submit" class="btn btn-primary me-3">Login</button>
    <button (click)="handleRegister()" class="btn btn-secondary">
      Register
    </button>
  </form>
</div>
