<div class="container-md p-3 vh-100">
  <div
    class="container-xs bg-light p-3 rounded position-relative top-50 start-50 translate-middle"
  >
    <form (ngSubmit)="submitRegister()">
      <div class="mb-3">
        <label for="usernameInput" class="form-label">Username</label>
        <input
          required
          [(ngModel)]="username"
          name="username"
          type="text"
          class="form-control"
          id="usernameInput"
        />
      </div>
      <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input
          required
          [(ngModel)]="email"
          name="email"
          type="email"
          class="form-control"
          id="emailInput"
        />
      </div>
      <div class="mb-3">
        <label for="passwordInput" class="form-label">Password</label>
        <input
          required
          [(ngModel)]="password"
          name="password"
          type="password"
          class="form-control"
          id="passwordInput"
        />
      </div>
      <div *ngIf="errorMessage" class="invalid-feedback d-block mb-3">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary me-3">Register</button>
      <button (click)="handleLoginRedirect()" class="btn btn-secondary">
        Already have an account
      </button>
    </form>
  </div>
</div>
